<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>STOK</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="../../ExternalLib/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="../../ExternalLib/plugins/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../ExternalLib/plugins/font-awesome/5.3/css/all.min.css" rel="stylesheet" />
    <link href="../../ExternalLib/plugins/animate/animate.min.css" rel="stylesheet" />
    <link href="../../ExternalLib/css/transparent/style.min.css" rel="stylesheet" />
    <link href="../../ExternalLib/css/transparent/style-responsive.min.css" rel="stylesheet" />
    <link href="../../ExternalLib/css/transparent/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../../ExternalLib/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../../ExternalLib/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../ExternalLib/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../ExternalLib/plugins/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <!--[if lt IE 9]>
        <script src="../../ExternalLib/crossbrowserjs/html5shiv.js"></script>
        <script src="../../ExternalLib/crossbrowserjs/respond.min.js"></script>
        <script src="../../ExternalLib/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="../../ExternalLib/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../../ExternalLib/plugins/js-cookie/js.cookie.js"></script>
    <script src="../../ExternalLib/js/theme/transparent.min.js"></script>
    <script src="../../ExternalLib/js/apps.min.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="../../ExternalLib/js/demo/login-v2.demo.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>